body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.train-images {
    display: none;
}

#test-img {
    max-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid gray;
}
img{
    border: 10px solid gray;
    width: 200px;
    height: 200px;
    max-height: 200px;
}

img.con-mascarilla {
    border: 10px solid green;
}

img.sin-mascarilla {
    border: 10px solid red;
}
.hidden{
    display:none;
}
.show{
    display:block;
}
